@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeDownDrop {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -70px);
  }

  100% {
    pointer-events: all;
    opacity: 1;
    transform: translate(-50%, 70px);
  }
}


// fade IN OUT
@keyframes fadeIn {
  0% {
    pointer-events: none;
    opacity: 0;
  }

  100% {
    pointer-events: all;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    pointer-events: all;
    opacity: 1;
  }

  100% {
    pointer-evnets: none;
    opacity: 0;
  }
}

// DROP DOWN UP
@keyframes dropDown {
  0% {
    opacity: 0;
    pointer-events: none;
    top: -88px;
  }

  100% {
    opacity: 1;
    pointer-events: all;
    top: 0;
  }
}

@keyframes dropUp {
  0% {
    opacity: 1;
    pointer-events: all;
    top: 0;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    pointer-events: none;
    top: -88px;
  }

}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: none;
  }
}

@keyframes slideOut {
  0% {
    transform: none;
  }

  100% {
    transform: translateX(100%);
  }
}

// animations for portolio are inside _portfolio.scss
