@font-face {
  font-family: 'livvic';
  src: url('/fonts/livvic/Livvic-Regular.ttf');
}

@font-face {
  font-family: 'livvic-thin';
  src: url('/fonts/livvic/Livvic-Thin.ttf');
}

@font-face {
  font-family: 'livvic-thin-italic';
  src: url('/fonts/livvic/Livvic-ThinItalic.ttf');
}

@font-face {
  font-family: 'livvic-medium';
  src: url('/fonts/livvic/Livvic-Medium.ttf');
}

@font-face {
  font-family: 'livvic-medium-italic';
  src: url('/fonts/livvic/Livvic-MediumItalic.ttf');
}

@font-face {
  font-family: 'livvic-semibold';
  src: url('/fonts/livvic/Livvic-SemiBold.ttf');
}

@font-face {
  font-family: 'livvic-semibold-italic';
  src: url('/fonts/livvic/Livvic-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'livvic-extra-light';
  src: url('/fonts/livvic/Livvic-ExtraLight.ttf');
}

@font-face {
  font-family: 'livvic-extra-light-italic';
  src: url('/fonts/livvic/Livvic-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'livvic-bold';
  src: url('/fonts/livvic/Livvic-Bold.ttf');
}

@font-face {
  font-family: 'livvic-bold-italic';
  src: url('/fonts/livvic/Livvic-BoldItalic.ttf');
}

@font-face {
  font-family: 'livvic-black';
  src: url('/fonts/livvic/Livvic-Black.ttf');
}

@font-face {
  font-family: 'livvic-black-italic';
  src: url('/fonts/livvic/Livvic-BlackItalic.ttf');
}

.livvic {
  font-family: 'livvic' !important;
}

.livvic-thin {
  font-family: 'livvic-regular';
}

.livvic-thin-italic {
  font-family: 'livvic-thin-italic';
}

.livvic-black {
  font-family: 'livvic-black';
}

.livvic-black-italic {
  font-family: 'livvic-black-italic';
}

.livvic-bold {
  font-family: 'livvic-bold';
}

.livvic-bold-italic {
  font-family: 'livvic-bold-italic';
}

.livvic-medium {
  font-family: 'livvic-medium';
}

.livvic-medium-italic {
  font-family: 'livvic-medium-italic';
}

.livvic-extra-thin {
  font-family: 'livvic-extra-thin';
}

.livvic-extra-thin-italic {
  font-family: 'livvic-extra-thin-italic';
}

.livvic-semibold {
  font-family: 'livvic-semibold';
}

.livvic-semibold-italic {
  font-family: 'livvic-semibold-italic';
}
