.bookmark-landing {
  font-size: 17px;

  &__header {
    .bookmark-header-title {
      @media (min-width: 1024px) {
        text-align: left !important;
        p {
          width: 464px;
        }
      }
    }
  }

  .title-description-bk {
    @media (min-width: 1024px) {
      width: 468px;
    }
  }

  &__browser-card {
    width: 295px;
  }
  .bkfeature-card {
    button {
      margin-left: 120px;
    }
    .bookmark-header-title {
      @media (min-width: 1024px) {
        text-align: left !important;
        margin-left: 100px;
      }
    }
    .bookmark-illustration-composition {
      @media (min-width: 1024px) {
        padding-right: 0px;
      }
      img {
        @media (min-width: 1024px) {
          margin-left: 0;
        }
      }
    }
  }

  .feature-card-middle {
    transform: translateY(40px);
  }
  .feature-card-last {
    transform: translateY(80px);
  }

  .bkfaqs-main {
    @media (min-width: 1024px) {
      width: 600px;
    }
  }

  .cta-form-group {
    @media (min-width: 1024px) {
      width: 600px;
    }
    button {
      @media (max-width: 1023px) {
        width: 100%;
      }
    }
  }

  .bookmark-error {
    position: relative;
    background-image: url('/bookmark-landing/icon-error.svg');
    background-position: 97% center;
    background-repeat: no-repeat;
    box-shadow: 0px 25px 0px hsl(0, 94%, 66%);
    outline: none;
  }
  .bookmark-error + p{
    transform: translateY(10px) translateX(10px);
  }
}
