.sign-up-form {
  &__main {
    background-color: hsl(0, 100%, 74%);
  }

  &__btn-purp,
  &__form {
    box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.3);
  }

  &__btn {
    box-shadow: inset 0px -5px 1px rgba(0, 0, 0, 0.1);
  }

  &__form-field:not(:last-child) {
    margin-bottom: 10px;
  }

  input::placeholder {
    text-transform: capitalize;
    font-weight: 600;
  }

  .remove-br {
    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__error-icon {
    display: block;
    width: 18px;
    height: 18px;
    right: 20px;
    top: 14px;
  }
}
